@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Neucha&family=Rubik+Dirt&display=swap");

html {
  font-family: "Comfortaa", cursive;
  font-size: 24px;
}


h1, h2, h3, h4, h5, h6, a {
    font-family: "Neucha", cursive;
}